*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 600px;
}
.container .header{
    background-color: #f69517;
    padding: 15px 40px 30px;
    color: white;
    text-align: center;

}
.container .header h2{
    margin: 10px;
}

input{
    width: 75%;
    float: left;
    border: none;
    outline: 0;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
.addbtn{
    width: 25%;
    float: left;
    border: none;
    padding: 10px;
    background-color: #d9d9d9;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.addbtn:hover{
    background-color: #bbb;
}

.container .header::after{
    content: '';
    display: table;
    clear: both;
}
.container .tasklist{
    max-height: 300px;
    overflow: auto;

}
ul{
    list-style-type: none;
}
ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background-color: #eee;
    font-size: 18px;
    transition: 0.3s;
    user-select: none;
}

ul li:hover{
    background-color: rgb(205, 204, 204);
}
.closebtn{
    display: none;
    position: absolute;
    right: 15px;
}

ul li:hover .closebtn{
    display: inline-block;
}
ul li .closebtn i:hover{
    color: #ec1d1d;
}

.tasklist li.done{
    background-color:#888 ;
    color: #fff;
    text-decoration: line-through;
}
.tasklist li.done::before{
    content: '';
    width: 8px;
    height: 16px;
    position: absolute;
    left:15px ;
    border-width:0 2px 2px 0 ;
    border-color: #fff;
    border-style:solid;
    transform: rotate(45deg);
    top: 8px;




}