body{
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






.header{
    width: 1200px;
    height: 400px;
    background-image: url(./OIP.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-position: center;
    text-align: center;
    position: relative;
}
.navbar{ 
    list-style-type: none;
  
    
} 
.navbar::after{
    content: " ";
    height: 40px;
    width: 200px;
    position: absolute;
    right: 0;
    background-color:rgba(200, 0, 0, 0.7);
    top: 50px;
} 
.header li.item1{
    text-decoration: none;
    background-color: rgba(200, 0, 0, 0.6);
    border-radius: 5px;
    position: absolute;
    top:50px;
    right:210px ;
    
}
  
.header li.item2{
    
    background-color: rgba(200, 0, 0, 0.6);
    border-radius: 5px;
    position: absolute;
    top:50px;
    right:280px ;
}
  
.header li.item3{
    
    background-color: rgba(200, 0, 0, 0.6);
    border-radius: 5px;
    position: absolute;
    top:50px;
    right:330px ;
    
}
.header h1{
    position: absolute;
    top: 150px;
    left: 300px;
}

.header h1 span{
    color: coral;
}
.header p{
    position: absolute;
    top: 220px;
    left: 300px;
}
.member{
    text-align: center;
    padding: 50px 30px;
}
.member-list{
    list-style-type: none;
    margin-top: 25px;
}
.member-item{
    width: 250px;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 0 10px #bbbbbb;
    border-radius: 8px;

}
.pic{
    width: 100%;
    border-radius: 8px 8px 0 0;
}
 .about{
    height: 400px;
    width: 1000px;
    background-image: url(./OIP\ \(1\).jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: brown;
    background-blend-mode:multiply ;
    margin: auto;
 }
 .circle{
    width: 400px;
    height: 400px;
    background-color: rgba(154, 116, 116, 0.5);
    border-radius: 50%;
    margin: auto;
 }
 .circle h2{
    color: burlywood;
    padding-top: 80px;
    padding-right: 150px;
 }
 .circle p{
    text-align: justify;
    padding: 35px;
 }