*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #062e15;

    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

p#num{
    font-size:  100px;
    color: #fff;
    text-align: center; 
}
button{
    border: 0;
    padding: 5px;
    width: 70px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    outline: 0;
    opacity: 0.5;

}
button:first-of-type{
    border-color: red;
}
button:last-of-type{
    border-color:green
}
button:hover{
    opacity: 1;
    cursor: pointer;
    color: rgb(230, 154, 130);
}